In [2]:
#Import dependencies

import pandas as pd
import numpy as np

In [3]:
#Upload CSV File and Read

school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

In [4]:
#Find District Summary

#Total Schools
total_schools = school_df["school_name"].count()

#Total Students
total_students = student_df["Student ID"].count()

#Total Budget
total_budget = school_df["budget"].sum()

#Average Math Score
average_math_score = student_df["math_score"].mean()

#Average Reading Score
average_reading_score = student_df["reading_score"].mean()

# % of Students Passing Math

count_passing_math = student_df.loc[(student_df["math_score"] >= 70)].count()["student_name"]
percentage_passing_math = (count_passing_math/total_students)*100


# # % of Students Passing Reading

count_passing_reading = student_df.loc[(student_df["reading_score"] >= 70)].count()["student_name"]
percentage_passing_reading = (count_passing_reading/total_students)*100

# # % of Students Passing Math and Reading

count_passing_math_reading = student_df.loc[(student_df["math_score"] >= 70) & (student_df["reading_score"] >= 70)].count()["student_name"]
overall_passing_math_reading_percentage = (count_passing_math_reading/total_students) * 100
overall_passing_math_reading_percentage

65.17232575950983

In [5]:
#Create District Summary Table

district_summary = pd.DataFrame({"Total Schools":[total_schools], "Total Students": [total_students], 
                                 "Total Budget":[total_budget], "Average Math Score": [average_math_score], 
                                "Average Reading Score": [average_reading_score], "Percentage Passing Math": [percentage_passing_math],
                                "Percentage Passing Reading":[percentage_passing_reading], "Percentage Passing Math and Reading(Overall)": [overall_passing_math_reading_percentage]})

# Add commas,$,% to table

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("{:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Math and Reading(Overall)
0,15,"39,170","24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [10]:
#Find Per School Summary


#School Types
school_types = school_df.set_index(["school_name"])["type"]

school_types

# #Total Students - Students Per School
# students_per_school = student_df["school_name"].value_counts()

# #Total Budget Per School
# school_budget = school_df.groupby(["school_name"])["budget"].sum()

# #Total Budget Per Student
# budget_per_student = school_budget / students_per_school

# #Average Math Score By School
# average_math_score_by_school = student_df.groupby(["school_name"])["math_score"].mean()

# #Average Reading Score By School
# average_reading_score_by_school = student_df.groupby(["school_name"])["reading_score"].mean()

# #Percentage Passing Math By School

# passing_math = student_df.loc[(student_df["math_score"] >= 70)]
# count_passing_math_by_school = passing_math.groupby(["school_name"]).count()["student_name"] 
# percentage_passing_math_by_school = (count_passing_math_by_school/students_per_school) * 100

# #Percentage Passing Reading By School

# passing_reading = student_df.loc[(student_df["reading_score"] >= 70)]
# count_passing_reading_by_school = passing_reading.groupby(["school_name"]).count()["student_name"]
# percentage_passing_reading_by_school = (count_passing_reading_by_school/students_per_school) * 100

# # % of Students Passing Math and Reading By School

# passing_math_reading = student_df.loc[(student_df["math_score"] >= 70) & (student_df["reading_score"] >= 70)]
# count_passing_math_reading_by_school = passing_math_reading.groupby(["school_name"]).count()["student_name"]
# percentage_passing_math_reading_by_school = (count_passing_math_reading_by_school/students_per_school) * 100

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
# Create School Summary Table

school_summary = pd.DataFrame({"School Type": [school_types], "Total Students Per School": [students_per_school], "Total School Budget By School": [school_budget],
                              "Budget Per Student": [budget_per_student], "Average Math Score By School": [average_math_score_by_school],
                              "Average Reading Score By School": [average_reading_score_by_school], "Percentage Passing Math By School": [percentage_passing_math_by_school],
                              "Percentage Passing Reading By School": [percentage_passing_reading_by_school],
                              "Percentage Passing Math and Reading(Overall)": [percentage_passing_math_reading_by_school]})

school_summary

,School Type,Total Students Per School,Total School Budget By School,Budget Per Student,Average Math Score By School,Average Reading Score By School,Percentage Passing Math By School,Percentage Passing Reading By School,Percentage Passing Math and Reading(Overall)
0,school_name Huang High School District ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928 C...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 54.642283 Cabrera Hig...