In [14]:
#Import dependencies

import pandas as pd
import numpy as np

In [15]:
#Upload CSV File and Read

school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

In [16]:
#Find District Summary

#Total Schools
total_schools = school_df["school_name"].count()

#Total Students
total_students = student_df["Student ID"].count()

#Total Budget
total_budget = school_df["budget"].sum()


#Average Math Score
average_math_score = student_df["math_score"].mean()

#Average Reading Score
average_reading_score = student_df["reading_score"].mean()

# % of Students Passing Math

count_passing_math = student_df.loc[(student_df["math_score"] >= 70)].count()["student_name"]
percentage_passing_math = (count_passing_math/total_students)*100


# # % of Students Passing Reading

count_passing_reading = student_df.loc[(student_df["reading_score"] >= 70)].count()["student_name"]
percentage_passing_reading = (count_passing_reading/total_students)*100

# # % of Students Passing Math and Reading

count_passing_math_reading = student_df.loc[(student_df["math_score"] >= 70) & (student_df["reading_score"] >= 70)].count()["student_name"]
overall_passing_math_reading_percentage = (count_passing_math_reading/total_students) * 100

In [17]:
#Create District Summary Table

district_summary = pd.DataFrame({"Total Schools":[total_schools], "Total Students": [total_students], 
                                 "Total Budget":[total_budget], "Average Math Score": [average_math_score], 
                                "Average Reading Score": [average_reading_score], "Percentage Passing Math": [percentage_passing_math],
                                "Percentage Passing Reading":[percentage_passing_reading], "Percentage Passing Math and Reading(Overall)": [overall_passing_math_reading_percentage]})


district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Math and Reading(Overall)
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [18]:
#Find Per School Summary


#School Types
school_types = school_df.set_index(["school_name"])["type"]

#Total Students - Students Per School
students_per_school = student_df["school_name"].value_counts()

#Total Budget Per School
school_budget = school_df.groupby(["school_name"])["budget"].sum()

#Total Budget Per Student
budget_per_student = school_budget / students_per_school

#Average Math Score By School
average_math_score_by_school = student_df.groupby(["school_name"])["math_score"].mean()

#Average Reading Score By School
average_reading_score_by_school = student_df.groupby(["school_name"])["reading_score"].mean()

#Percentage Passing Math By School

passing_math = student_df.loc[(student_df["math_score"] >= 70)]
count_passing_math_by_school = passing_math.groupby(["school_name"]).count()["student_name"] 
percentage_passing_math_by_school = (count_passing_math_by_school/students_per_school) * 100

#Percentage Passing Reading By School

passing_reading = student_df.loc[(student_df["reading_score"] >= 70)]
count_passing_reading_by_school = passing_reading.groupby(["school_name"]).count()["student_name"]
percentage_passing_reading_by_school = (count_passing_reading_by_school/students_per_school) * 100

# % of Students Passing Math and Reading By School

passing_math_reading = student_df.loc[(student_df["math_score"] >= 70) & (student_df["reading_score"] >= 70)]
count_passing_math_reading_by_school = passing_math_reading.groupby(["school_name"]).count()["student_name"]
percentage_passing_math_reading_by_school = (count_passing_math_reading_by_school/students_per_school) * 100

In [19]:
# Create School Summary Table

school_summary = pd.DataFrame({"School Type": school_types, "Total Students Per School": students_per_school, "Total School Budget By School": school_budget,
                              "Budget Per Student": budget_per_student, "Average Math Score By School": average_math_score_by_school,
                              "Average Reading Score By School": average_reading_score_by_school, "Percentage Passing Math By School": percentage_passing_math_by_school,
                              "Percentage Passing Reading By School": percentage_passing_reading_by_school,
                              "Percentage Passing Math and Reading(Overall)": percentage_passing_math_reading_by_school})



school_summary

,School Type,Total Students Per School,Total School Budget By School,Budget Per Student,Average Math Score By School,Average Reading Score By School,Percentage Passing Math By School,Percentage Passing Reading By School,Percentage Passing Math and Reading(Overall)
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [20]:
#Top Performing Schools

top_schools = school_summary.sort_values(["Percentage Passing Math and Reading(Overall)"], ascending=False)

top_5_schools = top_schools.head(5)

top_5_schools

,School Type,Total Students Per School,Total School Budget By School,Budget Per Student,Average Math Score By School,Average Reading Score By School,Percentage Passing Math By School,Percentage Passing Reading By School,Percentage Passing Math and Reading(Overall)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [21]:
#Bottom Performing Schools

bottom_schools = school_summary.sort_values(["Percentage Passing Math and Reading(Overall)"], ascending=True)

bottom_5_schools = bottom_schools.head(5)

bottom_5_schools

,School Type,Total Students Per School,Total School Budget By School,Budget Per Student,Average Math Score By School,Average Reading Score By School,Percentage Passing Math By School,Percentage Passing Reading By School,Percentage Passing Math and Reading(Overall)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [22]:
# Math Scores By Grade

ninth_graders = student_df[(student_df["grade"] == "9th")]
tenth_graders = student_df[(student_df["grade"] == "10th")]
eleventh_graders = student_df[(student_df["grade"] == "11th")]
twelfth_graders = student_df[(student_df["grade"] == "12th")]

# Average Math Scores Per Grade By School

ninth_graders_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_graders_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_graders_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_graders_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

#Combine data into a table - create a DataFrame of information

average_math_scores_by_grade = pd.DataFrame({"9th Grade": ninth_graders_math_scores, 
                                             "10th Grade": tenth_graders_math_scores, 
                                            "11th Grade": eleventh_graders_math_scores, 
                                             "12th Grade": twelfth_graders_math_scores})
average_math_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

In [23]:
# Average Reading Scores Per Grade By School

ninth_graders_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_graders_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_graders_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_graders_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine data into a table - create DataFrame

average_reading_scores_by_grade = pd.DataFrame({"9th Grade": ninth_graders_reading_scores,
                                               "10th Grade": tenth_graders_reading_scores,
                                               "11th Grade": eleventh_graders_reading_scores,
                                               "12th Grade": twelfth_graders_reading_scores})

average_reading_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [24]:
# Scores by School Spending Per Student

#Create Bins

budget_bins = [0,590,620,650,680]
bin_names = ["0 to 590", "591 to 620", "621 to 650", "651-680"]


#Slice the data and place it into assigned bins. Make sure the function has a column that can be referenced

school_summary["Per Student Budget"] = pd.cut(school_summary["Budget Per Student"], budget_bins, labels=bin_names)

# # School Performance based on average spending ranges (bins)


school_summary.groupby(["Per Student Budget"])["Average Math Score By School", "Average Reading Score By School", 
                                                          "Percentage Passing Math By School", "Percentage Passing Reading By School",
                                                         "Percentage Passing Math and Reading(Overall)"].mean()

<ipython-input-24-0e742d8540ef>:16: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  school_summary.groupby(["Per Student Budget"])["Average Math Score By School", "Average Reading Score By School",

,Average Math Score By School,Average Reading Score By School,Percentage Passing Math By School,Percentage Passing Reading By School,Percentage Passing Math and Reading(Overall)
Per Student Budget,,,,,
0 to 590,83.455399,83.933814,93.460096,96.610877,90.369459
591 to 620,83.599686,83.885211,94.230858,95.900287,90.216324
621 to 650,78.792545,81.759287,74.295260,85.408835,64.315933
651-680,76.959583,81.058567,66.218444,81.089710,53.520696

In [25]:
# Scores by School Size

# Create bins and name them

size_bins = [400,1000,3000,5000]
bin_names = ["small", "medium", "large"]

school_summary["School Size"] = pd.cut(school_summary["Total Students Per School"], size_bins, labels=bin_names)

# # School Performance based on average spending ranges (bins)


school_summary.groupby(["School Size"])["Average Math Score By School", "Average Reading Score By School", 
                                                          "Percentage Passing Math By School", "Percentage Passing Reading By School",
                                                         "Percentage Passing Math and Reading(Overall)"].mean()

<ipython-input-25-4b70a1e6bf20>:13: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  school_summary.groupby(["School Size"])["Average Math Score By School", "Average Reading Score By School",

,Average Math Score By School,Average Reading Score By School,Percentage Passing Math By School,Percentage Passing Reading By School,Percentage Passing Math and Reading(Overall)
School Size,,,,,
small,83.821598,83.929843,93.550225,96.099437,89.883853
medium,81.176821,82.933187,84.649798,91.316412,78.299832
large,77.063340,80.919864,66.464293,81.059691,53.674303

In [26]:
#Scores by school type

school_type_average_math_scores = school_summary.groupby(["School Type"])["Average Math Score By School"].mean()
school_type_average_reading_scores = school_summary.groupby(["School Type"])["Average Reading Score By School"].mean()
school_type_percentage_passing_math = school_summary.groupby(["School Type"])["Percentage Passing Math By School"].mean()
school_type_percentage_passing_reading = school_summary.groupby(["School Type"])["Percentage Passing Reading By School"].mean()
school_type_percentage_passing_math_reading = school_summary.groupby(["School Type"])["Percentage Passing Math and Reading(Overall)"].mean()


# Combine data into a table - create Data Frame

scores_by_school_type = pd.DataFrame({"Average Math Score": school_type_average_math_scores,
                                     "Average Reading Score": school_type_average_reading_scores,
                                     "Percentage Passing Math": school_type_percentage_passing_math,
                                     "Percentage Passing Reading": school_type_percentage_passing_reading,
                                     "Percentage Passing Math and Reading(Overall)": school_type_percentage_passing_math_reading})

scores_by_school_type

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Math and Reading(Overall)
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208